spring:
  application:
    name: rentify
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/rentify_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080

jwt:
  secret: rentify-super-secret-key-for-jwt-token-generation-minimum-256-bits-required
  expiration: 86400000  # 24 hours in milliseconds

twilio:
  account-sid: "sdfghjkxcvbnmdfghjkxcvbncvbnvbn"
  auth-token: "dcfvgbnm,.xcvbnxcvbnmcvbnmcvbn"
  phone-number: "+wsxdcvbnjkm"